.experience {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experience .second_title {
  color: #e0e0e0;
}

.experiencia_text {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #525252;
}

.experiencia_text strong {
  color: #141414;
}

.empresas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  gap: 10px 20px;
}

.empresas::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa_ano_ls {
  position: absolute;
  top: 22px;
  width: 80px;
  text-align: right;
  left: -100px;
  color: #525252;
  font-size: 1.33;
}

.empresa_title {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa_text {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa_skill {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa_skill li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experience {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experience .second_title {
    color: #141414;
  }
  .experiencia_text {
    font-size: 1.25rem;
  }
  .empresa_ano_ss {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    color: #525252;
  }
}

@media (max-width: 500px) {
  .empresas {
    grid-template-columns: 1fr;
  }
}
