body {
  font-family: "Fira Sans", arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.second_title {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

.empresa_ano_ls {
  display: inline-block;
}

.empresa_ano_ss {
  display: none;
}

@media (max-width: 800px) {
  .second_title {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }

  .empresa_ano_ls {
    display: none;
  }
  .empresa_ano_ss {
    display: inline-block;
  }
}
